<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.bainainfo.game.tool</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>9F86A406-DAF8-4C8D-8869-15596079D38C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8442779F-FA67-4822-97EE-9540F6D82B80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A62A4F93-510C-4999-9BE7-8E588D929D2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4D021F2-17EC-4921-BBEB-CAB7B536EC47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>rzeng@bainainfo.com</string>
	<key>description</key>
	<string>百纳游戏团队内网工具</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Baina</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bnurl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>/usr/bin/python bnopenfilter.py "{query}"</string>
				<key>title</key>
				<string>打开百纳内网网站</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9F86A406-DAF8-4C8D-8869-15596079D38C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8442779F-FA67-4822-97EE-9540F6D82B80</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bnconn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>/usr/bin/python bnconnfilter.py "{query}"</string>
				<key>title</key>
				<string>网络验证</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A62A4F93-510C-4999-9BE7-8E588D929D2B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python bnconn.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F4D021F2-17EC-4921-BBEB-CAB7B536EC47</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>使用说明

https://github.com/BainaGame/baina.alfredworkflow</string>
	<key>uidata</key>
	<dict>
		<key>8442779F-FA67-4822-97EE-9540F6D82B80</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>9F86A406-DAF8-4C8D-8869-15596079D38C</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>A62A4F93-510C-4999-9BE7-8E588D929D2B</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>F4D021F2-17EC-4921-BBEB-CAB7B536EC47</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://zengrong.net</string>
</dict>
</plist>
